* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #282828;
    --fg-color: white;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --fg-color: black;
  }
}

html {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
